//- Block for variables
block variables

//- block of includes
block includes

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description", content="")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block stylesheet 
  body()
    block content



    script. 
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +':35729/livereload.js?snipver=1"></' + 'script>')
    block script