extends pug/helpers/_pageStructore

//-
  =======================================================
  In this a block for including page or anythings
  =======================================================
block includes
  //- include pug/helpers/_helpers

//-
  =======================================================
  In this a block we can create a variables for this page
  =======================================================
block variables
  - var Title = "Quran Player";
//-
  =======================================================
  In this a block for add CSS file for this page
  =======================================================
block stylesheet
  title #{Title}
  //- Add a logo icon for title bar
  link(rel="shortcut icon", href="imgs/logo.png", type="image/x-icon")
  //- Normalize Library
  link(rel="stylesheet", href="css/normalize.css")
  //- FontAwesome Library
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
  //- Bondi Style File
  link(rel="stylesheet", href="css/main.css")


//-
  ====================================================================================================================
                                              In this a block for page content
  ====================================================================================================================
block content 
  //- ***************************************** Start Quran Application *****************************************
  .quran 
    //--- Player
    .player 
      .ayah إضغط على السـورة للاستمـاع إليهـا
      audio.quranPlayer(src="", controls, autoplay)
      .buttons 
        .icon.next: i.fas.fa-forward
        .icon.play: i.fas.fa-play
        .icon.prev: i.fas.fa-backward
    //--- Surahs
    .surahs
  //- ***************************************** End Quran Application *****************************************
  

//-
  ====================================================================================================================
  In this a block for add Js file for this page
  ====================================================================================================================
block script
  //- Sweet Alert Library 
  script(src="//cdn.jsdelivr.net/npm/sweetalert2@11") 
  //- Main Javascript File
  script(src="script/script-min.js") 